body {
    font-family: Helvetica, "Helvetica Neue", sans-serif;
}

.purple {
    color: mediumpurple;
}

.blue {
    color: deepskyblue;
}

.biggerText {
    font-size: 120%;
}

.CenturyGothic {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}